{% extends 'blog/base.html' %}

{% block title %}
Страница о нас.
{% endblock %}

{% block page_content %}
    <!-- Page Header-->
    <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>About us</h1>
                        <span class="subheading">That`s what we do!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>Данный сайт является результатом упорной работы нашей команды "Arasaka-team" на предмете "It-Startup". </p>
                    <p>В нашу команду входят 4 человека: Айсара, Артемий, Дмитрий и Марат. Мы студенты 1го курса AlmaU обучающиеся по специальности Информационные Системы.</p>
                    <p>На данный момент, это вся информация о нас. В будующем она возможно дополнится.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}