{% extends 'blog/base.html' %}

{% block title %}
Наши контакты.
{% endblock %}

{% block page_content %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/contact-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>Contact Us</h1>
                        <span class="subheading">Have questions? Sorry I don`t have answers.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>Если у вас есть вопросы или предложения, можете написать нам.</p>
                    <div class="my-5">
                        <img src="./assets/img/cont_us.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}